@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #353535;
    background-color: #fff;
    font-weight: 100;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app-header {
  overflow: hidden;
}

#app-body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

#app-footer {
  overflow: hidden;
}

footer {
    font-size: .7em;

    width: 100%;
    padding: 5px 10px;

    text-align: right;

    color: #fff;
    border-top: 1px solid #fff;
    background-color: #3b3b3b;
}

header {
    z-index: 3000;
    border-bottom: 1px solid #fff;
    background-color: #3b3b3b;
    width: 100%;
    height: 50px;
}

nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    width: inherit;
    height: inherit;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
}

nav img {
    height: 100%;
    width: 100%;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    display: block;
    padding: 0 3px;
}

.nav-left {
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-middle {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-right li {
    height: 50px;
    width: 40px;
}

.nav-right li a,
.nav-left li a {
    height: 100%;
    transition: opacity .25s;
    opacity: .6;
}

.nav-right li a:hover,
.nav-left li a:hover {
    opacity: 1;
}

.mini-logo {
    width: 200px;
    height: 50px;
    transform: translate3d(0, 100%, 0);
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 300px;

    border-bottom: 10px solid rgba(255, 255, 255, .4);
    background-color: #38b27e;
}

.canvas-wrap {
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    height: 300px;
    min-height: 300px;

    align-items: center;
    justify-content: center;
}

.canvas-content {
    position: relative;
    z-index: 2000;

    color: #fff;
}

.canvas-content img {
    width: 300px;

    animation-name: fade-in-up;
    animation-duration: .5s;
}

.canvas-content h1 {
    font-size: 22px;
    font-weight: 300;

    margin: 0;

    animation-name: fade-in-up;
    animation-duration: .8s;

    color: rgba(255,255,255,.7);
}

@media screen and (min-width: 600px) {
    .canvas-content h1 {
        font-size: 32px;
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

p {
    font-size: .85em;
    color: #888;
}

section {
    padding: 20px;
}

section img {
    display: block;

    max-width: 200px;
    margin: 0 auto;
}

section h2 {
    text-align: center;
}

.babel-view a {
    text-decoration: none;

    color: #8ec6ff;
}

.babel-view a:hover {
    text-decoration: underline;
}

.babel-view img {
    max-width: 40%;
    width: 40%;
}

@media screen and (min-width: 400px) {
    section {
        padding: 40px;
    }
    nav li {
        margin-right: 10px;
    }
}

@media screen and (min-width: 600px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    section {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 33.333333%;
        -ms-flex: 1 0 33.333333%;
        flex: 1 0 33.333333%;
        margin: auto;
    }

    p {
        font-size: 1em;
    }

    .babel-view {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .canvas-content img {
        width: 440px;
    }
}

@media screen and (max-width: 600px) {
    .mini-logo {
        display: none;
    }
}

@keyframes fade-in-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        -webkit-transform: translateY(50px);
        opacity: 0;
    }
}
